<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General-0 -->
    <category label="General">
        <setting id="module.provider" label="Choose Module Scraper" type="action" option="close" enable="false"
                 visible="hidden" action="RunPlugin(plugin://script.module.openscrapers/?action=ScraperChoice)"
                 default="OpenScrapers"/>
        <setting label="OpenScrapers Default Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=Defaults&amp;setting=true&amp;query=0.1)"/>
        <setting label="Disable All Providers" type="action"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAll&amp;setting=false&amp;query=0.2)"
                 option="close"/>
        <setting label="Enable All Providers" type="action"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAll&amp;setting=true&amp;query=0.3)"
                 option="close"/>
        <setting label="Enable Paid Debrid-w/Torrents" type="action"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllPaid&amp;setting=true&amp;query=0.4)"
                 option="close"/>
        <setting label="Show Changlelog" type="action"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=ShowChangelog&amp;query=0.5)"
                 option="close"/>
        <setting id="checkAddonUpdates" type="bool" label="Notify Me About Available Updates" default="false" />
    </category>

    <!-- Providers/Hosters-1 -->
    <category label="Hosters">
        <setting label="Disable All Hosters" type="action"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllHosters&amp;setting=false&amp;query=1.0)"
                 option="close"/>
        <setting label="Enable All Hosters" type="action"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllHosters&amp;setting=true&amp;query=1.1)"
                 option="close"/>
        <setting type="sep"/>
        <setting id="provider.5movies" type="bool" label="$NUMBER[5]MOVIES" default="true"/>
<!--         <setting id="provider.123movies" type="bool" label="$NUMBER[123]MOVIES" default="true"/> --><!--v2 challenge-->
<!--         <setting id="provider.123movieshubz" type="bool" label="$NUMBER[123]MOVIESHUBZ" default="false"/> --><!--v2 challenge-->
        <setting id="provider.animetoon" type="bool" label="ANIMETOON" default="false"/>
        <setting id="provider.bnwmovies" type="bool" label="BNWMOVIES" default="false"/>
        <setting id="provider.cartoonhd" type="bool" label="CARTOONHD" default="true"/>
<!--         <setting id="provider.cmovieshd" type="bool" label="CMOVIESHD" default="false"/> --><!--v2 challenge-->
<!--         <setting id="provider.coolmoviezone" type="bool" label="COOLMOVIEZONE" default="true"/> --><!--v2 challenge-->
        <setting id="provider.easynews" type="bool" label="EASYNEWS" default="false"/>
<!--         <setting id="provider.extramovies" type="bool" label="EXTRAMOVIES" default="true"/> --><!--v2 challenge-->
        <setting id="provider.filepursuit" type="bool" label="FILEPURSUIT" default="false"/>
        <setting id="provider.filmxy" type="bool" label="FILMXY" default="true"/>
<!--         <setting id="provider.fmoviesag" type="bool" label="FMOVIES" default="true"/> --><!-- v2 challenge -->
<!--         <setting id="provider.fmoviesto" type="bool" label="FMOVIESTO" default="true"/> --><!-- v2 challenge -->
        <setting id="provider.furk" type="bool" label="FURK" default="false"/>
<!--         <setting id="provider.gomoviesonl" type="bool" label="GOMOVIESONL" default="true"/> --><!--v2 challenge-->
<!--         <setting id="provider.gowatchseries" type="bool" label="GOWATCHSERIES" default="true"/> --><!--v2 challenge-->
        <setting id="provider.hdmto" type="bool" label="HDMTO" default="false"/>
<!--         <setting id="provider.hdpopcorneu" type="bool" label="HDPOPCORNEU" default="false"/> --><!-- needs fixing -->
        <setting id="provider.iwaatch" type="bool" label="IWAATCH" default="true"/>
        <setting id="provider.iwannawatch" type="bool" label="IWANNAWATCH" default="true"/>
        <setting id="provider.library" type="bool" label="LIBRARY" default="false"/>
<!--         <setting id="provider.megashare9" type="bool" label="MEGASHARE$NUMBER[9]" default="false"/> --><!-- needs fixing -->
        <setting id="provider.moviescouch" type="bool" label="MOVIESCOUCH" default="true"/>
<!--         <setting id="provider.myputlockers" type="bool" label="MYPUTLOCKERS" default="true"/> --><!--v2 challenge-->
        <setting id="provider.ororo" type="bool" label="ORORO" default="false"/>
        <setting id="provider.primewire" type="bool" label="PRIMEWIRE" default="true"/>
<!--         <setting id="provider.projectfreetv" type="bool" label="PROJECTFREETV" default="true"/> --><!-- needs fixing -->
<!--         <setting id="provider.putlockeronl" type="bool" label="PUTLOCKERONL" default="true"/> --><!--v2 challenge-->
<!--         <setting id="provider.putlockersonline" type="bool" label="PUTLOCKERSONLINE" default="false"/> --><!-- needs fixing -->
<!--         <setting id="provider.seehd" type="bool" label="SEEHD" default="true"/> --><!--v2 challenge-->
<!--         <setting id="provider.series9" type="bool" label="SERIES9" default="false"/> --><!--v2 challenge-->
<!--         <setting id="provider.seriesonline" type="bool" label="SERIESONLINE" default="true"/> --><!--hCaptcha-->
<!--         <setting id="provider.showbox" type="bool" label="SHOWBOX" default="true"/> --><!--v2 challenge-->
<!--         <setting id="provider.timewatch" type="bool" label="TIMEWATCH" default="true"/> --><!--v2 challenge-->
        <setting id="provider.toonget" type="bool" label="TOONGET" default="false"/>
        <setting id="provider.watch32" type="bool" label="WATCH$NUMBER[32]" default="false"/>
        <setting id="provider.watchepisodes" type="bool" label="WATCHEPISODES" default="true"/>
        <setting id="provider.watchepisodeseries1" type="bool" label="WATCHEPISODESERIES$NUMBER[1]" default="false"/>
        <setting id="provider.watchseries" type="bool" label="WATCHSERIES" default="true"/>
        <setting id="provider.watchserieshd" type="bool" label="WATCHSERIESHD" default="true"/>
        <setting id="provider.watchseriestv" type="bool" label="WATCHSERIESTV" default="true"/>
<!--         <setting id="provider.xwatchseries" type="bool" label="XWATCHSERIES" default="false"/> --><!-- needs fixing -->
<!--         <setting id="provider.yesmoviesgg" type="bool" label="YESMOVIESGG" default="false"/> --><!--v2 challenge-->
        <setting id="provider.zmovies" type="bool" label="ZMOVIES" default="false"/>
    </category>

    <!-- Debrid Sources-2 -->
    <category label="Debrid Only">
        <setting label="Disable All Debrid Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllDebrid&amp;setting=false&amp;query=2.0)"/>
        <setting label="Enable All Debrid Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllDebrid&amp;setting=true&amp;query=2.1)"/>
        <setting type="sep"/>
        <setting id="provider.300mbfilms" type="bool" label="$NUMBER[300]MBFILMS" default="false"/>
        <setting id="provider.ddlspot" type="bool" label="DDLSPOT" default="true"/>
        <setting id="provider.ganool" type="bool" label="GANOOL" default="true"/>
        <setting id="provider.maxrls" type="bool" label="MAXRLS" default="false"/>
        <setting id="provider.mkvhub" type="bool" label="MKVHUB" default="false"/><!--v2 challenge, may need to remove-->
<!--         <setting id="provider.mvrls" type="bool" label="MVRLS" default="false"/> --><!--seems gone-->
        <setting id="provider.myvideolink" type="bool" label="MYVIDEOLINK" default="true"/>
        <setting id="provider.onceddl" type="bool" label="ONCEDDL" default="true"/>
        <setting id="provider.onlineseries" type="bool" label="ONLINESERIES" default="true"/>
<!--         <setting id="provider.rapidmoviez" type="bool" label="RAPIDMOVIEZ" default="false"/> --><!--v2 challenge-->
        <setting id="provider.rlsbb" type="bool" label="RLSBB" default="true"/>
        <setting id="provider.scenerls" type="bool" label="SCENERLS" default="true"/>
<!--         <setting id="provider.tvdownload" type="bool" label="TVDOWNLOAD" default="true"/> --><!--v2 challenge-->
<!--         <setting id="provider.ultrahdindir" type="bool" label="ULTRAHDINDIR" default="true"/> --><!--hCaptcha-->
    </category>

    <!-- Torrents-3 -->
    <category label="Torrents">
        <setting label="Disable All Torrent Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllTorrent&amp;setting=false&amp;query=3.0)"/>
        <setting label="Enable All Torrent Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllTorrent&amp;setting=true&amp;query=3.1)"/>
        <setting label="Enable All Pack Capable Torrent Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllPackTorrent&amp;setting=true&amp;query=3.2)"/>
        <setting label="      [COLOR FFA0C12C]-- pack scraper Help --[/COLOR]" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=ShowHelp&amp;name=packScrapers&amp;query=3.3)"/>
        <setting id="torrent.enabled" type="bool" label="Enable Torrent Scrapers" default="true" visible = "false" />
        <setting type="sep"/>
        <setting id="filter.undesirables" type="bool" label="Remove Undesirables" default="true"/>
        <setting label="      [COLOR FFA0C12C]-- undesirables filter Help --[/COLOR]" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=ShowHelp&amp;name=undesirablesFilter&amp;query=3.3)"/>
        <setting id="torrent.enabled" type="bool" label="Enable Torrent Scrapers" default="true" visible = "false" />
        <setting id="filter.foreign.single.audio" type="bool" label="Remove identified Foreign single audio sources" default="true"/>
        <setting type="sep"/>
        <setting id="provider.1337x" type="bool" label="$NUMBER[1337]X" default="false"/>
        <setting id="provider.7torrents" type="bool" label="$NUMBER[7]TORRENTS (Pack capable)" default="false"/>
        <setting id="provider.bitlord" type="bool" label="BITLORD (Pack capable)" default="true"/>
<!--         <setting id="provider.btdb" type="bool" label="BTDB" default="true"/> --><!--v2 challenge-->
        <setting id="provider.btscene" type="bool" label="BTSCENE (Pack capable)" default="false"/>
        <setting id="provider.ettv" type="bool" label="ETTV" default="true"/>
        <setting id="provider.extratorrent" type="bool" label="EXTRATORRENT" default="true"/>
        <setting id="provider.eztv" type="bool" label="EZTV" default="true"/>
        <setting id="provider.glodls" type="bool" label="GLODLS" default="true"/>
        <setting id="provider.idope" type="bool" label="IDOPE (Pack capable)" default="true"/>
        <setting id="provider.isohunt2" type="bool" label="ISOHUNT2" default="false"/>
        <setting id="provider.kickass2" type="bool" label="KICKASS2 (Pack Capable)" default="true"/>
        <setting id="provider.limetorrents" type="bool" label="LIMETORRENTS (Pack capable)" default="true"/>
        <setting id="provider.magnet4you" type="bool" label="MAGNET$NUMBER[4]YOU" default="true"/>
        <setting id="provider.magnetdl" type="bool" label="MAGNETDL (Pack capable)" default="true"/>
        <setting id="provider.moviemagnet" type="bool" label="MOVIEMAGNET" default="false"/>
        <setting id="provider.nyaa" type="bool" label="NYAA" default="false"/>
        <setting id="provider.piratebay" type="bool" label="PIRATEBAY (Pack capable)" default="true"/>
        <setting id="provider.skytorrents" type="bool" label="SKYTORRENTS (Pack capable)" default="true"/>
        <setting id="provider.solidtorrents" type="bool" label="SOLIDTORRENTS (Pack capable)" default="true"/>
        <setting id="provider.topnow" type="bool" label="TOPNOW" default="false"/>
        <setting id="provider.torlock" type="bool" label="TORLOCK" default="false"/>
        <setting id="provider.torrentapi" type="bool" label="TORRENTAPI (Pack capable)" default="true"/>
        <setting id="provider.torrentdownload" type="bool" label="TORRENTDOWNLOAD (Pack capable)" default="true"/>
        <setting id="provider.torrentfunk" type="bool" label="TORRENTFUNK (Pack capable)" default="true"/>
        <setting id="provider.torrentgalaxy" type="bool" label="TORRENTGALAXY (Pack capable)" default="true"/>
<!--         <setting id="provider.torrentz" type="bool" label="TORRENTZ" default="false"/> --><!--v2 challenge-->
        <setting id="provider.yourbittorrent" type="bool" label="YOURBITTORRENT (Pack capable)" default="false"/>
        <setting id="provider.ytsws" type="bool" label="YTSWS" default="false"/>
        <setting id="provider.zoogle" type="bool" label="ZOOGLE (Pack capable)" default="false"/>
    </category>

    <!-- Providers/Foreign-4 -->
    <category label="Foreign">
        <setting label="Disable All Foreign Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllForeign&amp;setting=false&amp;query=4.0)"/>
        <setting label="Enable All Foreign Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllForeign&amp;setting=true&amp;query=4.1)"/>

        <setting label="German" type="lsep"/>
        <setting label="Disable All German Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGerman&amp;setting=false&amp;query=4.4)"/>
        <setting label="Enable All German Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGerman&amp;setting=true&amp;query=4.5)"/>
        <setting type="sep"/>
        <setting id="provider.animebase" type="bool" label="ANIMELOADS" default="false"/>
        <setting id="provider.animeloads" type="bool" label="ANIMELOADS" default="false"/>
        <setting id="provider.cine" type="bool" label="CINE" default="false"/>
        <setting id="provider.ddl" type="bool" label="DDL" default="false"/>
        <setting id="provider.filmpalast" type="bool" label="FILMPALAST" default="false"/>
        <setting id="provider.foxx" type="bool" label="FOXX" default="false"/>
        <setting id="provider.hdfilme" type="bool" label="HDFILME" default="false"/>
        <setting id="provider.hdstreams" type="bool" label="HDSTREAMS" default="false"/>
        <setting id="provider.horrorkino" type="bool" label="HORRORKINO" default="false"/>
        <setting id="provider.iload" type="bool" label="ILOAD" default="false"/>
        <setting id="provider.kinox" type="bool" label="KINOX" default="false"/>
        <setting id="provider.movie2k" type="bool" label="MOVIE$NUMBER[2]K" default="false"/>
        <setting id="provider.movie2k-ag" type="bool" label="MOVIE$NUMBER[2]K-AG" default="false"/>
        <setting id="provider.movie4k" type="bool" label="MOVIE$NUMBER[4]K" default="false"/>
        <setting id="provider.movietown" type="bool" label="MOVIETOWN" default="false"/>
        <setting id="provider.netzkino" type="bool" label="NETZKINO" default="false"/>
        <setting id="provider.proxer" type="bool" label="PROXER" default="false"/>
        <setting id="provider.streamflix" type="bool" label="STREAMFLIX" default="false"/>
        <setting id="provider.streamit" type="bool" label="STREAMIT" default="false"/>
        <setting id="provider.stream-to" type="bool" label="STREAM-TO" default="false"/>
        <setting id="provider.video4k" type="bool" label="VIDEO$NUMBER[4]K" default="false"/>
        <setting id="provider.view4u" type="bool" label="VIEW4U" default="false"/>
        <setting id="provider.view4u2" type="bool" label="VIEW4U2" default="false"/>

        <setting label="Spanish" type="lsep"/>
        <setting label="Disable All Spanish Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllSpanish&amp;setting=false&amp;query=4.32)"/>
        <setting label="Enable All Spanish Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllSpanish&amp;setting=true&amp;query=4.33)"/>
        <setting type="sep"/>
        <setting id="provider.pelisplustv" type="bool" label="PELISPLUSTV" default="false"/>
        <setting id="provider.pepecine" type="bool" label="PEPCINE" default="false"/>
        <setting id="provider.seriespapaya" type="bool" label="SERIESPAPAYA" default="false"/>

        <setting label="French" type="lsep"/>
        <setting label="Disable All French Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllFrench&amp;setting=false&amp;query=4.40)"/>
        <setting label="Enable All French Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllFrench&amp;setting=true&amp;query=4.41)"/>
        <setting type="sep"/>
        <setting id="provider.cinemay" type="bool" label="CINEMAY" default="false"/>
        <setting id="provider.dadyflix" type="bool" label="DADYFLIX" default="false"/>
        <setting id="provider.dpstreaming" type="bool" label="DPSTREAMING" default="false"/>
        <setting id="provider.dpstreaminglive" type="bool" label="DPSTREAMINGLINE" default="false"/>
        <setting id="provider.fullstream" type="bool" label="FULLSTREAM" default="false"/>
        <setting id="provider.mystreamay" type="bool" label="MYSTREAMAY" default="false"/>
        <setting id="provider.planetvideos" type="bool" label="PLANETVIDEOS" default="false"/>
        <setting id="provider.streamay" type="bool" label="STREAMAY" default="false"/>
        <setting id="provider.zonestreaming" type="bool" label="ZONESTREAMING" default="false"/>

        <setting label="Greek" type="lsep"/>
        <setting label="Disable All Greek Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGreek&amp;setting=false&amp;query=4.54)"/>
        <setting label="Enable All Greek Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGreek&amp;setting=true&amp;query=4.55)"/>
        <setting type="sep"/>
        <setting id="provider.gamatotv" type="bool" label="GAMATOTV" default="false"/>
        <setting id="provider.liomenoi" type="bool" label="LIOMENOI" default="false"/>
        <setting id="provider.tainiomania" type="bool" label="TAINIOMANIA" default="false"/>
        <setting id="provider.xrysoi" type="bool" label="XRYSOI" default="false"/>

        <setting label="Korean" type="lsep"/>
        <setting label="Disable All Korean Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllKorean&amp;setting=false&amp;query=4.63)"/>
        <setting label="Enable All Korean Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllKorean&amp;setting=true&amp;query=4.64)"/>
        <setting type="sep"/>
        <setting id="provider.drama4u" type="bool" label="DRAMA4U" default="false"/>
        <setting id="provider.dramacool" type="bool" label="DRAMACOOL" default="false"/>
        <setting id="provider.dramafire" type="bool" label="DRAMAFIRE" default="false"/>
        <setting id="provider.dramafireasia" type="bool" label="DRAMAFIREASIA" default="false"/>
        <setting id="provider.iheartdrama" type="bool" label="IHEARTDRAMA" default="false"/>
    </category>

    <!-- Providers/Foreign2-5 -->
    <category label="Foreign2">
        <setting label="Polish" type="lsep"/>
        <setting label="Disable All Polish Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllPolish&amp;setting=false&amp;query=5.1)"/>
        <setting label="Enable All Polish Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllPolish&amp;setting=true&amp;query=5.2)"/>
        <setting type="sep"/>
        <setting id="provider.alltube" type="bool" label="ALLTUBE" default="false"/>
        <setting id="provider.alltube3d" type="bool" label="ALLTUBE3D" default="false"/>
        <setting id="provider.cdahd" type="bool" label="CDAHD" default="false"/>
        <setting id="provider.cdapl" type="bool" label="CDAPL" default="false"/>
        <setting id="provider.cdax" type="bool" label="CDAX" default="false"/>
        <setting id="provider.ekinotv" type="bool" label="EKINTOV" default="false"/>
        <setting id="provider.filiser" type="bool" label="FILISER" default="false"/>
        <setting id="provider.filmdom" type="bool" label="FILMDOM" default="false"/>
        <setting id="provider.filmwebbooster" type="bool" label="FILMWEBBOOSTER" default="false"/>
        <setting id="provider.horrortube" type="bool" label="HORRORTUBE" default="false"/>
        <setting id="provider.iitvx" type="bool" label="IITVX" default="false"/>
        <setting id="provider.kinonet" type="bool" label="KINONET" default="false"/>
        <setting id="provider.serialeco" type="bool" label="SERIALECO" default="false"/>
        <setting id="provider.szukajkatv" type="bool" label="SZUKAJKATV" default="false"/>

        <setting label="Russian" type="lsep"/>
        <setting label="Disable All Russian Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllRussian&amp;setting=false&amp;query=5.20)"/>
        <setting label="Enable All Russian Providers" type="action" option="close"
                 action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllRussian&amp;setting=true&amp;query=5.21)"/>
        <setting type="sep"/>
        <setting id="provider.exfs" type="bool" label="EXFS" default="false"/>
        <setting id="provider.filmix" type="bool" label="FILMIX" default="false"/>
        <setting id="provider.newkino" type="bool" label="NEWKINO" default="false"/>
    </category>

    <!-- Accounts-6 -->
    <category label="Scraper Accounts">
        <setting type="lsep" label="Filepursuit - for key visit: rapidapi.com/azharxes/api/filepursuit"/>
        <setting id="filepursuit.api" type="text" label="Filepursuit API Key" default=""/>

        <setting type="lsep" label="Furk.net"/>
        <setting id="furk.user_name" type="text" label="Furk Username" default=""/>
        <setting id="furk.user_pass" type="text" label="Furk Password" option="hidden" default=""/>
        <setting id="furk.api" type="text" label="Furk API Key" default=""/>

        <setting type="lsep" label="Easynews"/>
        <setting id="easynews.user" type="text" label="Easynews Username" default=""/>
        <setting id="easynews.password" type="text" label="Easynews Password" default=""/>

        <setting type="lsep" label="Ororo.tv"/>
        <setting id="ororo.user" type="text" label="Email" default=""/>
        <setting id="ororo.pass" type="text" option="hidden" label="Password" default=""/>

        <setting type="lsep" label="SerienStream.to"/>
        <setting id="serienstream.user" type="text" label="Email" default=""/>
        <setting id="serienstream.pass" type="text" option="hidden" label="Password" default=""/>
    </category>

    <!-- Debugging - 7 -->
    <category label="Debug">
        <setting id="debug.enabled" type="bool" label="Enable Debug" default="false" />
        <setting id="debug.location" type="enum" label="Logging Location" values="Kodi Log|Addon Log" default="1" enable="eq(-1,true)" />
    </category>
</settings>