<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<!-- General-0 -->
    <category label="General">
        <setting id="module.provider" label="Choose Module Scraper" type="action" option="close" enable="false" visible="hidden" action="RunPlugin(plugin://script.module.openscrapers/?action=ScraperChoice)" default="OpenScrapers" />
        <setting label="OpenScrapers Default Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=Defaults&setting=true&query=0.1)"/>
        <setting label="Disable All Providers" type="action" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAll&setting=false&query=0.2)" option="close"/>
        <setting label="Enable All Providers" type="action" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAll&setting=true&query=0.3)" option="close"/>
        <setting label="Enable Paid Debrid-w/Torrents" type="action" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllPaid&setting=true&query=0.4)" option="close" />
    </category>

<!-- Providers/Hosters-1 -->
    <category label="Hosters">
        <setting label="Disable All Hosters" type="action" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllHosters&setting=false&query=1.0)" option="close" />
        <setting label="Enable All Hosters" type="action" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllHosters&setting=true&query=1.1)" option="close" />
        <setting type="sep" />
        <setting id="provider.4kmovieto" type="bool" label="$NUMBER[4]KMOVIETO" default="false" />
        <setting id="provider.0123putlocker" type="bool" label="$NUMBER[0123]PUTLOCKER" default="false" />
        <setting id="provider.123fox" type="bool" label="$NUMBER[123]FOX" default="true" />
        <setting id="provider.123hbo" type="bool" label="$NUMBER[123]HBO" default="true" />
        <setting id="provider.123hulu" type="bool" label="$NUMBER[123]HULU" default="false" />
        <setting id="provider.123movies4u" type="bool" label="$NUMBER[123]MOVIES4U" default="false" />
        <setting id="provider.123movieshubz" type="bool" label="$NUMBER[123]MOVIESHUBZ" default="true" />
        <setting id="provider.300mbdownload" type="bool" label="$NUMBER[300]MBDOWNLOAD" default="false" />
        <setting id="provider.animetoon" type="bool" label="ANIMETOON" default="false" />
        <setting id="provider.azmovie" type="bool" label="AZMOVIE" default="true" />
        <setting id="provider.bnwmovies" type="bool" label="BNWMOVIES" default="false" />
        <setting id="provider.cartoonhd" type="bool" label="CARTOONHD" default="true" />
        <setting id="provider.cmovieshd" type="bool" label="CMOVIESHD" default="false" />
        <setting id="provider.cmovieshdbz" type="bool" label="CMOVIESHDBZ" default="false" />
        <setting id="provider.coolmoviezone" type="bool" label="COOLMOVIEZONE" default="false" />
        <setting id="provider.cooltvseries" type="bool" label="COOLTVSERIES" default="true" />
        <setting id="provider.downflix" type="bool" label="DOWNFLIX" default="true" />
        <setting id="provider.extramovies" type="bool" label="EXTRAMOVIES" default="true" />
        <setting id="provider.filepursuit" type="bool" label="FILEPURSUIT" default="true" />
        <setting id="provider.filmxy" type="bool" label="FILMXY" default="true" />
        <setting id="provider.fmovies" type="bool" label="FMOVIES" default="false" />
        <setting id="provider.freefmovies" type="bool" label="FREEFMOVIES" default="true" />
        <setting id="provider.freeputlockers" type="bool" label="FREEPUTLOCKERS" default="true" />
        <setting id="provider.furk" type="bool" label="FURK" default="false" />
        <setting id="provider.gostream" type="bool" label="GOSTREAM" default="true" />
        <setting id="provider.gowatchseries" type="bool" label="GOWATCHSERIES" default="false" />
        <setting id="provider.Hdmto" type="bool" label="HDMTO" default="true" /> 
        <setting id="provider.hdpopcorns" type="bool" label="HDPOPCORNS" default="true" />
        <setting id="provider.iwaatch" type="bool" label="IWAATCH" default="true" />
        <setting id="provider.kattv" type="bool" label="KATTV" default="true" />
        <setting id="provider.l23movies" type="bool" label="L23MOVIES" default="true" />
        <setting id="provider.library" type="bool" label="LIBRARY" default="false" />
        <setting id="provider.moviesonline" type="bool" label="MOVIESONLINE" default="false" />
        <setting id="provider.movietoken" type="bool" label="MOVIETOKEN" default="false" />
        <setting id="provider.myprojectfreetv" type="bool" label="MYPROJECTFREETV" default="false" />
        <setting id="provider.odb" type="bool" label="ODB" default="true" />
        <setting id="provider.openloadmovie" type="bool" label="OPENLOADMOVIE" default="true" />
        <setting id="provider.ororo" type="bool" label="ORORO" default="false" />
<!--    <setting id="provider.plocker" type="bool" label="PLOCKER" default="false" /> -->
        <setting id="provider.pokemonfire" type="bool" label="pokemonfire" default="true" />
        <setting id="provider.primewire" type="bool" label="PRIMEWIRE" default="true" />
        <setting id="provider.pubfilmonline" type="bool" label="PUBFILMONLINE" default="true" />
        <setting id="provider.putlocker" type="bool" label="PUTLOCKER" default="true" />
        <setting id="provider.reddit" type="bool" label="REDDIT" default="true" />
        <setting id="provider.seehd" type="bool" label="SEEHD" default="true" />
        <setting id="provider.series9" type="bool" label="SERIES9" default="true" />
        <setting id="provider.seriesfree" type="bool" label="SERIESFREE" default="false" /> 
        <setting id="provider.seriesonline" type="bool" label="SERIESONLINE" default="false" />
        <setting id="provider.sezonlukdizi" type="bool" label="SEZONLUKDIZI" default="true" />
        <setting id="provider.solarmoviez" type="bool" label="SOLARMOVIEZ" default="false" />
        <setting id="provider.toonget" type="bool" label="TOONGET" default="true" />
        <setting id="provider.tvbox" type="bool" label="TVBOX" default="true" />
        <setting id="provider.vdonip" type="bool" label="VDONIP" default="true" />
        <setting id="provider.videoscraper" type="bool" label="VIDEOSCRAPER" default="false" />
        <setting id="provider.vidics" type="bool" label="VIDICS" default="true" />
        <setting id="provider.watchseries" type="bool" label="WATCHSERIES" default="false" />
        <setting id="provider.watchseriessi" type="bool" label="WATCHSERIESSI" default="true" />
        <setting id="provider.xwatchseries" type="bool" label="XWATCHSERIES" default="true" />
        <setting id="provider.ymovies" type="bool" label="YMOVIES" default="true" />
    </category>

<!-- Providers/Foreign-2 -->
    <category label="Foreign">
        <setting label="Disable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllForeign&setting=false&query=2.0)" />
        <setting label="Enable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllForeign&setting=true&query=2.1)" />

        <setting label="Spanish" type="lsep" />
        <setting label="Disable All Spanish Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllSpanish&setting=false&query=2.4)" />
        <setting label="Enable All Spanish Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllSpanish&setting=true&query=2.5)" />
        <setting type="sep" />
        <setting id="provider.megapelistv" type="bool" label="MEGAPELISTV" default="false" />
        <setting id="provider.peliculasdk" type="bool" label="PELICULASDK" default="false" />
        <setting id="provider.pelisplustv" type="bool" label="PELISPLUSTV" default="false" />
        <setting id="provider.pepecine" type="bool" label="PEPCINE" default="false" />
        <setting id="provider.seriespapaya" type="bool" label="SERIESPAPAYA" default="false" />

        <setting label="German" type="lsep" />
        <setting label="Disable All German Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGerman&setting=false&query=2.14)" />
        <setting label="Enable All German Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGerman&setting=true&query=2.15)" />
        <setting type="sep" />
        <setting id="provider.allucde" type="bool" label="ALLUC" default="false" />
        <setting id="provider.animebase" type="bool" label="ANIMEBASE" default="false" />
        <setting id="provider.animeloads" type="bool" label="ANIMELOADS" default="false" />
        <setting id="provider.bs" type="bool" label="BS" default="false" />
        <setting id="provider.cine" type="bool" label="CINE" default="false" />
        <setting id="provider.cinenator" type="bool" label="CINENATOR" default="false" />
        <setting id="provider.ddl" type="bool" label="DDL" default="false" />
        <setting id="provider.filmpalast" type="bool" label="FILMPALAST" default="false" />
        <setting id="provider.foxx" type="bool" label="FOXX" default="false" />
        <setting id="provider.hdfilme" type="bool" label="HDFILME" default="false" />
        <setting id="provider.hdstreams" type="bool" label="HDSTREAMS" default="false" />
        <setting id="provider.horrorkino" type="bool" label="HORRORKINO" default="false" />
        <setting id="provider.iload" type="bool" label="ILOAD" default="false" />
        <setting id="provider.kinodogs" type="bool" label="KINODOGS" default="false" />
        <setting id="provider.kinoking" type="bool" label="KINOKING" default="false" />
        <setting id="provider.kinow" type="bool" label="KINOW" default="false" />
        <setting id="provider.kinox" type="bool" label="KINOX" default="false" />
        <setting id="provider.lichtspielhaus" type="bool" label="LICHTSPIELHAUS" default="false" />
        <setting id="provider.movie2k-ac" type="bool" label="MOVIE$NUMBER[2]K-AC" default="false" />
        <setting id="provider.movie2k-ag" type="bool" label="MOVIE$NUMBER[2]K-AG" default="false" />
        <setting id="provider.movie2z" type="bool" label="MOVIE$NUMBER[2]Z" default="false" />
        <setting id="provider.movie4k" type="bool" label="MOVIE$NUMBER[4]K" default="false" />
        <setting id="provider.moviesever" type="bool" label="MOVIESEVER" default="false" />
        <setting id="provider.movietown" type="bool" label="MOVIETOWN" default="false" />
        <setting id="provider.netzkino" type="bool" label="NETZKINO" default="false" />
        <setting id="provider.proxer" type="bool" label="PROXER" default="false" />
        <setting id="provider.pureanime" type="bool" label="PUREANIME" default="false" />
        <setting id="provider.serienstream" type="bool" label="SERIENSTREAM" default="false" />
        <setting id="provider.seriesever" type="bool" label="SERIESEVER" default="false" />
        <setting id="provider.stream-to" type="bool" label="STREAM-TO" default="false" />
        <setting id="provider.streamdream" type="bool" label="STREAMDREAM" default="false" />
        <setting id="provider.streamflix" type="bool" label="STREAMFLIX" default="false" />
        <setting id="provider.streamit" type="bool" label="STREAMIT" default="false" />
        <setting id="provider.tata" type="bool" label="TATA" default="false" />
        <setting id="provider.video4k" type="bool" label="VIDEO$NUMBER[4]K" default="false" />
        <setting id="provider.view4u" type="bool" label="VIEW4U" default="false" />

        <setting label="Greek" type="lsep" />
        <setting label="Disable All Greek Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGreek&setting=false&query=2.55)"/>
        <setting label="Enable All Greek Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllGreek&setting=true&query=2.56)"/>
        <setting type="sep" />
        <setting id="provider.gamatotv" type="bool" label="GAMATOTV" default="false" />
        <setting id="provider.liomenoi" type="bool" label="LIOMENOI" default="false" />
        <setting id="provider.tainiesonline" type="bool" label="TAINIESONLINE" default="false" />
        <setting id="provider.tainiomania" type="bool" label="TAINIOMANIA" default="false" />
        <setting id="provider.xrysoi" type="bool" label="XRYSOI" default="false" />

        <setting label="Polish" type="lsep" />
        <setting label="Disable All Polish Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllPolish&setting=false&query=2.65)" />
        <setting label="Enable All Polish Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllPolish&setting=true&query=2.66)" />
        <setting type="sep" />
        <setting id="provider.alltube" type="bool" label="ALLTUBE" default="false" />
        <setting id="provider.boxfilm" type="bool" label="BOXFILM" default="false" />
        <setting id="provider.cdahd" type="bool" label="CDAHD" default="false" />
        <setting id="provider.cdax" type="bool" label="CDAX" default="false" />
        <setting id="provider.ekinomaniak" type="bool" label="EKINOMANIAK" default="false" />
        <setting id="provider.ekinotv" type="bool" label="EKINTOV" default="false" />
        <setting id="provider.filiser" type="bool" label="FILISER" default="false" />
        <setting id="provider.filmwebbooster" type="bool" label="FILMWEBBOOSTER" default="false" />
        <setting id="provider.iitv" type="bool" label="IITV" default="false" />
        <setting id="provider.movieneo" type="bool" label="MOVIENEO" default="false" />
        <setting id="provider.segos" type="bool" label="SEGOS (need login)" default="false" />
        <setting id="provider.szukajkatv" type="bool" label="SZUKAJKATV" default="false" />
    </category>

<!-- Debrid Sources-3 -->
    <category label="Debrid Only">
        <setting label="Disable All Debrid Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllDebrid&setting=false&query=3.0)"/>
        <setting label="Enable All Debrid Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllDebrid&setting=true&query=3.1)"/>
        <setting type="sep" />
        <setting id="provider.0day" type="bool" label="$NUMBER[0]DAY" default="true" />
        <setting id="provider.300mbfilms" type="bool" label="$NUMBER[300]MBFILMS" default="true" />
        <setting id="provider.bestmoviez" type="bool" label="BESTMOVIEZ" default="true" />
        <setting id="provider.ddlvalley" type="bool" label="DDLVALLEY" default="false" />
        <setting id="provider.ddlspot" type="bool" label="DDLSPOT" default="true" />
        <setting id="provider.directdl" type="bool" label="DIRECTDL" default="true" />
        <setting id="provider.ganool123" type="bool" label="GANOOL" default="true" />
        <setting id="provider.invictus" type="bool" label="INVICTUS" default="true" />
        <setting id="provider.iwantmyshow" type="bool" label="IWANTMYSHOW" default="true" />
        <setting id="provider.moviesleak" type="bool" label="MOVIESLEAK" default="true" />
        <setting id="provider.myvideolink" type="bool" label="MYVIDEOLINK" default="false" />
        <setting id="provider.playmovies" type="bool" label="PLAYMOVIES" default="true" />
        <setting id="provider.rlsbb" type="bool" label="RLSBB" default="true" />
        <setting id="provider.scnsrc" type="bool" label="SCNSRC" default="true" />
        <setting id="provider.scenerls" type="bool" label="SCENERLS" default="true" />
        <setting id="provider.ultrahdindir" type="bool" label="ULTRAHDINDIR" default="true" />
        <setting id="provider.wrzcraft" type="bool" label="WRZCRAFT" default="false" />
    </category>

<!-- Torrents-4 -->
    <category label="Torrent (cached)">
        <setting label="Disable All Torrent Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllTorrent&setting=false&query=4.0)"/>
        <setting label="Enable All Torrent Providers" type="action" option="close" action="RunPlugin(plugin://script.module.openscrapers/?action=toggleAllTorrent&setting=true&query=4.1)"/>
        <setting type="sep" />
        <setting id="provider.bitlord" type="bool" label="BITLORD" default="false" />
        <setting id="provider.eztv" type="bool" label="EZTV" default="true" />
        <setting id="provider.glodls" type="bool" label="GLODLS" default="true" />
        <setting id="provider.limetorrents" type="bool" label="LIMETORRENTS" default="true" />
        <setting id="provider.magnetdl" type="bool" label="MAGNETDL" default="true" />
        <setting id="provider.kickass2" type="bool" label="KICKASS2" default="true" />
        <setting id="provider.piratebay" type="bool" label="PIRATEBAY" default="true" />
        <setting id="provider.torrentapi" type="bool" label="TORRENTAPI" default="true" />
        <setting id="provider.torrentdownloads" type="bool" label="TORRENTDOWNLOADS" default="true" />
        <setting id="provider.yify" type="bool" label="YIFY" default="true" />
        <setting id="provider.zoogle" type="bool" label="ZOOGLE" default="true" />
    </category>
<!--    <category label="Debug">\-->
<!--        <setting id="addon_debug" type="bool" label="Enable Debug" default="false" />-->
<!--    </category>-->
</settings>
